# AWS Configuration
AWS_ACCESS_KEY_ID=seu_access_key_aqui
AWS_SECRET_ACCESS_KEY=seu_secret_key_aqui
AWS_REGION=us-east-1

# Bedrock Models
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
AGENT_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0

# S3 Configuration
S3_BUCKET_NAME=nome-do-seu-bucket-de-documentos